.add-pic-btn {
  width: 5rem;
  height: 0.9rem;
  background: #233142;
  color: #EEF2F5;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 0.04rem 0.1rem 0.02rem #556a7d;
  margin: 0.2rem auto;
  border-radius: 0.1rem;
}
.nav-box {
  width: 100%;
  height: 0.8rem;
  background: #FFF;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.nav-box a {
  -webkit-box-flex: 1;
          flex: 1;
  height: 0.8rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #74737b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-box .nav-act {
  color: #1f1e27;
  font-weight: 600;
}
.list-box {
  padding-top: 0.8rem;
  box-sizing: border-box;
}
.list-box-li {
  display: block;
  width: calc(100vw - 0.5rem);
  height: 1.5rem;
  margin: 0.3rem auto 0;
  background: #FFF;
  padding: 0.2rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.15rem 0.04rem #ecf7f3;
}
.list-box-li-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.list-box-li-img {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
}
.list-box-li-text {
  width: 5.5rem;
  box-sizing: border-box;
}
.list-box-li-title {
  color: #22212a;
  font-weight: 600;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-box-li-type {
  margin-top: 0.15rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.list-box-li-type span {
  width: 1rem;
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  background: #53dc9b;
  border-radius: 0.1rem;
  font-size: 0.24rem;
  color: #22212a;
}
.list-box-li-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: #aaaaaa;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 0.4rem;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0.01rem dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.02rem;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*do not import this file except components/style/index.less*/
.am-fade-enter,
.am-fade-appear {
  opacity: 0;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.am-fade-leave {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.am-fade-enter.am-fade-enter-active,
.am-fade-appear.am-fade-appear-active {
  -webkit-animation-name: amFadeIn;
          animation-name: amFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.am-fade-leave.am-fade-leave-active {
  -webkit-animation-name: amFadeOut;
          animation-name: amFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes amFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes amFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes amFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes amFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.am-slide-up-enter,
.am-slide-up-appear {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.am-slide-up-enter,
.am-slide-up-appear,
.am-slide-up-leave {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.am-slide-up-enter.am-slide-up-enter-active,
.am-slide-up-appear.am-slide-up-appear-active {
  -webkit-animation-name: amSlideUpIn;
          animation-name: amSlideUpIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.am-slide-up-leave.am-slide-up-leave-active {
  -webkit-animation-name: amSlideUpOut;
          animation-name: amSlideUpOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes amSlideUpIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes amSlideUpIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes amSlideUpOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}
@keyframes amSlideUpOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}
.am.am-zoom-enter,
.am.am-zoom-leave {
  display: block;
}
.am-zoom-enter,
.am-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.am-zoom-leave {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
          animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.am-zoom-enter.am-zoom-enter-active,
.am-zoom-appear.am-zoom-appear-active {
  -webkit-animation-name: amZoomIn;
          animation-name: amZoomIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.am-zoom-leave.am-zoom-leave-active {
  -webkit-animation-name: amZoomOut;
          animation-name: amZoomOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes amZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes amZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes amZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes amZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.am-slide-down-enter,
.am-slide-down-appear {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.am-slide-down-enter,
.am-slide-down-appear,
.am-slide-down-leave {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.am-slide-down-enter.am-slide-down-enter-active,
.am-slide-down-appear.am-slide-down-appear-active {
  -webkit-animation-name: amSlideDownIn;
          animation-name: amSlideDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.am-slide-down-leave.am-slide-down-leave-active {
  -webkit-animation-name: amSlideDownOut;
          animation-name: amSlideDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes amSlideDownIn {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes amSlideDownIn {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes amSlideDownOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}
@keyframes amSlideDownOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}
*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f5f5f9;
  font-size: 0.28rem;
}
*[contenteditable] {
  -webkit-user-select: auto !important;
}
*:focus {
  outline: none;
}
a {
  background: transparent;
  text-decoration: none;
  outline: none;
}

.am-icon {
  fill: currentColor;
  background-size: cover;
  width: 0.44rem;
  height: 0.44rem;
}
.am-icon-xxs {
  width: 0.3rem;
  height: 0.3rem;
}
.am-icon-xs {
  width: 0.36rem;
  height: 0.36rem;
}
.am-icon-sm {
  width: 0.42rem;
  height: 0.42rem;
}
.am-icon-md {
  width: 0.44rem;
  height: 0.44rem;
}
.am-icon-lg {
  width: 0.72rem;
  height: 0.72rem;
}
.am-icon-loading {
  -webkit-animation: cirle-anim 1s linear infinite;
          animation: cirle-anim 1s linear infinite;
}
@-webkit-keyframes cirle-anim {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes cirle-anim {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.am-toast {
  position: fixed;
  width: 100%;
  z-index: 1999;
  font-size: 0.28rem;
  text-align: center;
}
.am-toast > span {
  max-width: 50%;
}
.am-toast.am-toast-mask {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  left: 0;
  top: 0;
  -webkit-transform: translateZ(0.01rem);
          transform: translateZ(0.01rem);
}
.am-toast.am-toast-nomask {
  position: fixed;
  max-width: 50%;
  width: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translateZ(0.01rem);
          transform: translateZ(0.01rem);
}
.am-toast.am-toast-nomask .am-toast-notice {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.am-toast-notice-content .am-toast-text {
  min-width: 1.2rem;
  border-radius: 0.06rem;
  color: #fff;
  background-color: rgba(58, 58, 58, 0.9);
  line-height: 1.5;
  padding: 0.18rem 0.3rem;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon {
  border-radius: 0.1rem;
  padding: 0.3rem 0.3rem;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon .am-toast-text-info {
  margin-top: 0.12rem;
}

.am-modal {
  position: relative;
}
.am-modal:not(.am-modal-transparent):not(.am-modal-popup) {
  width: 100%;
  height: 100%;
}
.am-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}
.am-modal-mask-hidden {
  display: none;
}
.am-modal-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transform: translateZ(0.01rem);
          transform: translateZ(0.01rem);
}
.am-modal-wrap-popup {
  display: block;
}
.am-modal-transparent {
  width: 5.4rem;
}
.am-modal-transparent .am-modal-content {
  border-radius: 0.14rem;
  padding-top: 0.3rem;
}
.am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0 0.3rem 0.3rem;
}
.am-modal-popup {
  position: fixed;
  left: 0;
  width: 100%;
}
.am-modal-popup-slide-down {
  top: 0;
}
.am-modal-popup-slide-up {
  bottom: 0;
}
.am-modal-popup .am-modal-content {
  padding-bottom: env(safe-area-inset-bottom);
}
.am-modal-title {
  margin: 0;
  font-size: 0.36rem;
  line-height: 1;
  color: #000;
  text-align: center;
}
.am-modal-header {
  padding: 0.12rem 0.3rem 0.3rem;
}
.am-modal-content {
  position: relative;
  background-color: #fff;
  border: 0;
  background-clip: padding-box;
  text-align: center;
  height: 100%;
  overflow: hidden;
}
.am-modal-close {
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  position: absolute;
  right: 0.3rem;
  z-index: 999;
  height: 0.42rem;
  width: 0.42rem;
}
.am-modal-close-x {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'30'%20height%3D'30'%20viewBox%3D'0%200%2030%2030'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%20%3Cdefs%3E%3C%2Fdefs%3E%20%3Cg%20id%3D'ALL-ICON'%20stroke%3D'none'%20stroke-width%3D'1'%20fill%3D'none'%20fill-rule%3D'evenodd'%3E%20%3Cg%20id%3D'Rectangle-283-%2B-Rectangle-283'%20fill%3D'%23888888'%3E%20%3Crect%20id%3D'Rectangle-283'%20transform%3D'translate(14.849242%2C%2014.849242)%20rotate(-315.000000)%20translate(-14.849242%2C%20-14.849242)%20'%20x%3D'-5.1507576'%20y%3D'13.8492424'%20width%3D'40'%20height%3D'2'%3E%3C%2Frect%3E%20%3Crect%20id%3D'Rectangle-283'%20transform%3D'translate(14.849242%2C%2014.849242)%20scale(-1%2C%201)%20rotate(-315.000000)%20translate(-14.849242%2C%20-14.849242)%20'%20x%3D'-5.1507576'%20y%3D'13.8492424'%20width%3D'40'%20height%3D'2'%3E%3C%2Frect%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E");
}
.am-modal-body {
  font-size: 0.3rem;
  color: #888;
  height: 100%;
  line-height: 1.5;
  overflow: auto;
}
.am-modal-button-group-h {
  position: relative;
  border-top: 1PX solid #ddd;
  display: -webkit-box;
  display: flex;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-modal-button-group-h {
    border-top: none;
  }
  html:not([data-scale]) .am-modal-button-group-h::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-modal-button-group-h::before {
    -webkit-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.am-modal-button-group-h .am-modal-button {
  -webkit-touch-callout: none;
  -webkit-box-flex: 1;
          flex: 1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #108ee9;
  font-size: 0.36rem;
  height: 1rem;
  line-height: 1rem;
  display: block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.am-modal-button-group-h .am-modal-button:first-child {
  color: #000;
}
.am-modal-button-group-h .am-modal-button:last-child {
  position: relative;
  border-left: 1PX solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-modal-button-group-h .am-modal-button:last-child {
    border-left: none;
  }
  html:not([data-scale]) .am-modal-button-group-h .am-modal-button:last-child::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 1PX;
    height: 100%;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-modal-button-group-h .am-modal-button:last-child::before {
    -webkit-transform: scaleX(0.33);
            transform: scaleX(0.33);
  }
}
.am-modal-button-group-v .am-modal-button {
  -webkit-touch-callout: none;
  position: relative;
  border-top: 1PX solid #ddd;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #108ee9;
  font-size: 0.36rem;
  height: 1rem;
  line-height: 1rem;
  display: block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-modal-button-group-v .am-modal-button {
    border-top: none;
  }
  html:not([data-scale]) .am-modal-button-group-v .am-modal-button::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-modal-button-group-v .am-modal-button::before {
    -webkit-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.am-modal-button-active {
  background-color: #ddd;
}
.am-modal-input-container {
  margin-top: 0.18rem;
  border: 1PX solid #ddd;
  border-radius: 0.06rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-modal-input-container {
    position: relative;
    border: none;
  }
  html:not([data-scale]) .am-modal-input-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1PX solid #ddd;
    border-radius: 0.12rem;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    box-sizing: border-box;
    pointer-events: none;
  }
}
.am-modal-input {
  height: 0.72rem;
  line-height: 1;
}
.am-modal-input:nth-child(2) {
  position: relative;
  border-top: 1PX solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-modal-input:nth-child(2) {
    border-top: none;
  }
  html:not([data-scale]) .am-modal-input:nth-child(2)::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-modal-input:nth-child(2)::before {
    -webkit-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.am-modal-input input {
  position: relative;
  border: 0;
  width: 98%;
  height: 0.68rem;
  top: 1PX;
  box-sizing: border-box;
  margin: 0;
}
.am-modal-input input::-webkit-input-placeholder {
  font-size: 0.28rem;
  color: #ccc;
  padding-left: 0.16rem;
}
.am-modal-input input::-moz-placeholder {
  font-size: 0.28rem;
  color: #ccc;
  padding-left: 0.16rem;
}
.am-modal-input input:-ms-input-placeholder {
  font-size: 0.28rem;
  color: #ccc;
  padding-left: 0.16rem;
}
.am-modal-input input::-ms-input-placeholder {
  font-size: 0.28rem;
  color: #ccc;
  padding-left: 0.16rem;
}
.am-modal-input input::placeholder {
  font-size: 0.28rem;
  color: #ccc;
  padding-left: 0.16rem;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content {
  border-radius: 0;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-header {
  padding: 0.18rem 0.48rem 0.24rem;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-header .am-modal-title {
  text-align: left;
  font-size: 0.42rem;
  color: #000;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body {
  color: #000;
  text-align: left;
  padding: 0 0.48rem 0.3rem;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container {
  border: 0;
  border-bottom: 1PX solid #ddd;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container:before {
  display: none !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container {
    border-bottom: none;
  }
  html:not([data-scale]) .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container::after {
    -webkit-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container .am-modal-input:first-child {
  border-top: 0;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body .am-modal-input-container .am-modal-input:first-child:before {
  display: none !important;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer {
  padding-bottom: 0.24rem;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h {
  overflow: hidden;
  border-top: 0;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 0 0.24rem;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h:before {
  display: none !important;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button {
  -webkit-box-flex: initial;
          flex: initial;
  margin-left: 0.06rem;
  padding: 0 0.3rem;
  height: 0.96rem;
  box-sizing: border-box;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button:first-child {
  color: #777;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button:last-child {
  border-left: 0;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button:last-child:before {
  display: none !important;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v.am-modal-button-group-normal {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  padding: 0 0.24rem;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v.am-modal-button-group-normal .am-modal-button {
  border-top: 0;
  padding: 0 0.3rem;
  margin-left: 0.06rem;
  height: 0.96rem;
  box-sizing: border-box;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v.am-modal-button-group-normal .am-modal-button:before {
  display: none !important;
}
.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-operation .am-modal-button {
  text-align: start;
  padding-left: 0.3rem;
}
.am-modal.am-modal-operation .am-modal-content {
  border-radius: 0.14rem;
  height: auto;
  padding-top: 0;
}
.am-modal.am-modal-operation .am-modal-content .am-modal-body {
  padding: 0!important;
}
.am-modal.am-modal-operation .am-modal-content .am-modal-button {
  color: #000;
  text-align: left;
  padding-left: 0.3rem;
}
.am-modal-alert-content,
.am-modal-propmt-content {
  zoom: 1;
  overflow: hidden;
}

.home-title {
  background: #1890ff;
  width: 100%;
  height: 0.84rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  color: #E6F7FF;
}
.home-title h1 {
  font-size: 0.32rem;
}
.home-title a {
  color: #E6F7FF;
}
.home-title a svg {
  width: 0.6rem;
  height: 0.6rem;
  fill: #E6F7FF;
}
.detail-box {
  width: 95%;
  margin: 2.5% auto;
  background: #FFF;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.1rem 0.03rem #f6f8f9;
}
.detail-title {
  padding: 0.2rem;
  box-sizing: border-box;
  border-bottom: 0.02rem solid #BAE7FF;
}
.detail-title h1 {
  font-size: 0.44rem;
  font-size: #404040;
}
.detail-title p {
  font-size: 0.24rem;
  color: #838383;
}
.detail-title p span {
  margin-left: 0.1rem;
}
.detail-content {
  padding: 0.2rem;
  box-sizing: border-box;
}
.detail-content h2 {
  font-size: 0.52rem;
  color: #222;
}
.detail-content p {
  padding: 0.2rem 0;
}
.detail-content p img {
  width: 100%;
}
.detail-content a {
  color: #1890ff;
}
.detail-content blockquote {
  background: #BAE7FF;
  color: #404040;
  font-size: 0.3rem;
  margin: 0;
  padding: 0.4rem;
  box-sizing: border-box;
}
.detail-content ul {
  padding: 0.4rem;
  box-sizing: border-box;
  list-style-type: disc!important;
}
.detail-content ul li {
  list-style-type: disc!important;
  margin-top: 0.15rem;
}
.detail-content ol {
  padding: 0.4rem;
  list-style-type: decimal!important;
}
.detail-content ol li {
  list-style-type: decimal!important;
  margin-top: 0.2rem;
}
.detail-content pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.detail-content pre code {
  white-space: pre-wrap;
}
.detail-content .prettyprint {
  padding: 0.2rem;
  background: #f7f7f7;
  border-width: 0.01rem 0;
}
.detail-reply .detail-reply-title {
  padding: 0.2rem;
  background: #BAE7FF;
  color: #838383;
  font-size: 0.3rem;
}
.detail-reply .detail-reply-list {
  padding: 0.2rem;
  box-sizing: border-box;
}
.detail-reply .detail-reply-list li {
  padding: 0.2rem 0;
  border-bottom: 0.02rem solid #BAE7FF;
}
.detail-reply .detail-reply-list li .detail-reply-list-user {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #888888;
}
.detail-reply .detail-reply-list li .detail-reply-list-user img {
  width: 0.6rem;
  height: 0.6rem;
}
.detail-reply .detail-reply-list li .detail-reply-list-user span {
  margin-left: 0.2rem;
}
.detail-reply .detail-reply-list li .detail-reply-list-user span:nth-child(3) {
  color: #1890ff;
}
.detail-reply .detail-reply-list li .markdown-text {
  padding: 0.2rem 0 0.4rem;
  font-size: 0.3rem;
}
.detail-reply .detail-reply-list li .markdown-text a {
  color: #1890ff;
}
.detail-reply .detail-reply-list li .markdown-text p {
  overflow: auto;
  word-break: break-word;
}
.detail-reply .detail-reply-list li .markdown-text img {
  width: 100%;
  margin: 0.2rem auto;
}
.detail-reply .detail-reply-list li .markdown-text pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.detail-reply .detail-reply-list li .markdown-text pre code {
  white-space: pre-wrap;
}
.detail-reply .detail-reply-list li .markdown-text .prettyprint {
  padding: 0.2rem;
  background: #f7f7f7;
  border-width: 0.01rem 0;
}

html,
body {
  margin: 0;
}
body {
  font-size: 0.28rem;
  color: #34314F;
  background: #f4f4f4;
}
a {
  color: #34314F;
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

